
/*  font de titre */
.text-head,.ti1,.ti2,.ti3,.ti4,.ti5,.titre{font-family: 'Dancing Script', cursive;}

/*  font de text */
.text2, .text3{font-family:sans-serif;color: black;}

/* header footer */
header, footer{background-color: #D4423E;
padding:10px;color: white;}  

/* body */
body{margin: 0;padding:20px;font-family: sans-serif;}

/* header */
.text-head{text-align: center;
    }
.link{text-align: left;text-transform: uppercase;} 
@media only screen and (min-width:768px){
    header{display: flex;
        justify-content: space-between;}}
       
       
        /* link */
        .link{padding: 10px;}
        .link > a{text-decoration: none;
        color: white;
    }
    .link:hover{background-color: #b32c28;}

/* container with background noel */
.container{padding: 10px;background-image:url(background.jpg);}

/* container with background white */
.main{box-shadow:5px 5px 5px grey;margin: 50px 50px; padding: 20px 10px; background-color: #FFFFFF;}

/* title */
.titre{text-align: center;}
.titre, .ti1,.ti2,.ti3,.ti4,.ti5{color: #D4424E}

/* images cadeau */
.image{display: grid;
grid-template-columns: 1fr 1fr;}
@media only screen and (min-width:768px){
    .image{display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;}}
    img{width: 100%;}

 /* caption */
.caption{color: white;text-align:center;padding:10px; background-color:black; font-family: sans-serif;}

/* map */
.map{padding:20px;}
.text-map{padding:10px;}
.ti5{margin-top: 40px;}

/* map and textmap */
@media only screen and (min-width:768px){
.map-and-text{display:grid;
grid-template-columns: 1fr 1fr;}}

/* email */
.email{padding: 10px;width:60%; background-color: #FCFCFC;font-family: sans serif;padding-left: 10px;color:#BEBCBF; border: solid 2px #D0D2D2;}

/* last link */
.link5{padding: 10px;text-align: center;margin-top: 20px;background-color: #b32c28;font-family: sans serif;width:30%;box-sizing: content-box;}
.link5>a{text-decoration: none; color: white;}

/* footer */
footer{
    text-align: center;color:white;
}
@media only screen and (min-width:768px){
    footer{
    text-align: right;
}}
